{%extends 'esas.html'%}
{%load widget_tweaks%}

{%block content%}

<div class="container-fluid">
    <div class="h1 text-center mb-3">Qeydiyyat formu</div>
    <div class="row">
        <form method="post">
            {% csrf_token %}
            
            {{form.as_p}}
            
            <!--
            <div class="col mb-3">
                {{form.email|add_label_class:"form-label"}}
                {{form.email|add_class:"form-control"}}

                {{form.password1|add_label_class:"form-label"}}
                {{form.password1|add_class:"form-control"}}

                {{form.password2|add_label_class:"form-label"}}
                {{form.password2|add_class:"form-control"}}
            </div>
            -->

            <input type="submit" value="Yarat" class="btn btn-success btn-lg">
        </form>
    </div>
    
</div>
{%endblock%}